:root {
  --black: #1d1d1d;
  --white: #fff;
  --gray-text: #746e6b;
  --gray-lightest: #ececec;
  --blue-gray-text: #9baaae;
  --pink: #e6c1c5;
  --orange-lighter: #ddd1cd;
  --orange-light: #f9dabb;
  --orange: #f9bd8e;
  --dark-blue: #495e85;
  --cream: #fbf7f4;
  --gray-line: #dfdbd7;
  --progress-gray-square: #d9d9d9;
  --progress-gray-icon: #475e87;
  --progress-orange-square: #fceee4;
  --progress-orange-icon: #fbbc8c;
  --progress-pink-square: #f8ece9;
  --progress-pink-icon: #e1a9ae;
  --progress-gray-light-square: #e8ebea;
  --progress-gray-light-icon: #9cafb3;
  --status-green: #3edba2;
  --gradient-yellow-light: #ebe5da;
  --gradient-green-dark: #9baaae;

  --primary-font: Inconsolata, monospace;
  --text-font: Oxygen;

  --font-xlarge: 2.8rem;
  --font-large: 2rem;
  --font-medium: 1.6rem;
  --font-normal: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--cream);
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  display: flex;
}

.main-nav {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-top: 5rem;
  text-align: center;
}

.logo h1 {
  margin-top: 2rem;
  font-family: "Inconsolata", monospace;
  font-size: 3.2rem;
  text-transform: uppercase;
}

.navbar {
  margin-top: 4.8rem;
  padding-left: 3.4rem;
}

.navbar-nav > li {
  margin-top: 2rem;
}

.navbar-nav > li > a {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  color: var(--black);
  font-family: Inconsolata;
  font-weight: 600;
}

.navbar-nav > li > a > svg {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.sub-menu {
  margin-left: 3.4rem;
  font-size: 1.4rem;
}

.sub-menu > li {
  margin-top: 1.8rem;
  font-family: Oxygen;
  color: var(--gray-text);
}
.sub-menu a {
  position: relative;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}
.sub-menu a::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 4px;
  position: absolute;
  left: 0;
}
.sub-menu-pink > a::before {
  background-color: var(--pink);
}
.sub-menu-orange > a::before {
  background-color: var(--orange);
}
.sub-menu-blue > a::before {
  background-color: var(--dark-blue);
}

.logout {
  margin-top: auto;
  margin-bottom: 4.8rem;
}

.logout button {
  margin-left: 3.4rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
}

.logout span {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  border-radius: 50%;
  color: var(--white);
  margin-right: 1rem;
}
.logout span svg {
  width: 18px;
}

.plan {
  background-color: var(--white);
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  width: 450px;
  padding: 3.6rem 3.2rem 0 3.2rem;
}

.plan > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan-title {
  font-family: var(--primary-font);
  font-size: 2.4rem;
  font-weight: 600;
}

.plan-time {
  font-family: var(--text-font);
  font-size: 1.4rem;
  color: var(--blue-gray-text);
  margin-top: 0.4rem;
}

.button-circle {
  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--black);
  border-radius: 50%;
  border: none;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-circle:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.button-circle svg {
  width: 1.8rem;
}
